@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Judson:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    width: 80%;
    /* background-color: #666; */
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 40px 12px #000000; 
    box-shadow: 0px 0px 40px 12px #000000;
    border-radius: 1.5rem;
}

.div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem; 
}

.input-field{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.input-field #web-logo{
    width:50px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 3px #000000; 
    box-shadow: 0px 0px 15px 3px #000000;
}

#categories{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    border-radius: 10px;
    /* padding: 0px 1rem 0px; */
    flex-wrap: wrap;
    font-family: 'Bellota', system-ui;
    font-size: 1.2rem;
    font-weight: 700;
}

.input-field .search-input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 10px;
    background-color: #D9D9D9;
    flex-wrap: wrap;
}

.search-input input{
    /* padding: 1rem; */
    background: transparent;
    outline: none;
    border: none;
}

.search-input image{
    color: #D9D9D9;
}

.p-area{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.img-field{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    /* position: absolute; */
}

.img-field *{
    width: 40px;
    height: 40px;
}


.div2{
    display: flex;
    gap: 2rem;
}

.select-by-categorioes{
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 10px;
    margin: 1rem 4rem;
    /* width: 15rem; */
}

.select-by-categorioes img{
    margin-right: 1rem;
}

.page-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.page-links a{
    text-decoration: none;
    color: black;
}

.page-links a:hover{
    border-bottom: 2px solid orangered;
    color: orangered;
}

.div3{
    background-image: url("./images/stock.jpg");
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}

.blue-background{
    display: flex;
    background-color: #D5DEE5;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 300px;
    border-radius: 10px;
}

.text{
    font-size: 1.5rem;
    font-weight: 700;
}

.orange-background{
    width: 400px;
    height: 300px;
    background-color: #ffc868;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    position: relative;
}

.orange-background p{
    position: absolute;
    right: 0;
    font-style: italic;
    direction: rtl;
    padding: 1rem;
}

.orange-background img{
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.div4{
    background-color: #9E9180;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
    padding: 2rem;
}

.div4-title{
    font-size: 1.5rem;
}

.home-rooms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.room{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    background-color: #eeecec;
    padding: 1rem 2px 1rem 1rem;
    border-radius: 10px;
    font-family: 'Josefin Slab', serif;
}


.room p{
    font-size: 1.1rem;
}

.room img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1rem 10px 1rem 1rem;
    border-radius: 2rem;
}


.div5{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-wrap:wrap;
}

.div5-title{
    font-size: 1.5rem;
}

.products-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #D9D9D9;
    overflow: hidden;
}

.product p{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.product img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

.div6{
    background-color: #aea08d;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.div6 .div6-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 20rem;
    margin-left: 5rem;
}

.div6-text .big-text{
    font-size: 1.7rem;
    font-family: 'Bellota', system-ui;
}

.big-text span{
    color: orange;
}

.div6-text .small-text{
    font-size: 1.1rem;
}

.div6-form form{
    display: flex;
    width: 20rem;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}

form *{
    margin: 10px;
}

input#name,
input#email,
input#phone-number{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
}

form label{
    font-size: 1.3rem;
}

form button{
    width: 75%;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}

.div7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-left{
    padding: 2rem;
}

.p-right{
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.p-right a{
    text-decoration: none;
    color: #000000;
}